<h2><%= @board.name %></h2>

<div class='error_messages' ></div>

<!-- FORM TO CREATE NEW LIST -->
<%= form_for [@board, @list] do |f| %>
  <%= f.label :title, 'Create List' %>
  <%= f.text_field :title, placeholder: "Enter List Name", autocomplete: :off %>
  <%= f.submit %>
<% end %>
<hr>
<!-- ASSOCIATED LISTS -->
<ol id="board_lists">
  <% @board.lists.each do |list| %>
    <li id="<%= list.id %>">
      <%= list.title %>
      <!-- CREATE NEW TASKS -->
      <%= form_for list.tasks.build, url: board_list_tasks_path(@board.id, list.id) do |f| %>
        <%= f.text_field :description, placeholder: "Enter Task", autocomplete: :off %>
        <%= f.select :priority, ['Low', 'Medium', 'High']%>
        <%= f.submit %>
      <% end %>

      <!-- SHOW ASSOCIATED TASKS -->
       <ul class="list_task">
         <% list.sorted_tasks_by_priority.each do |task| %>
           <li>
             <%= task.description %> - <%= task.priority %>
             <span class="delete-task" data-taskId="<%= task.id %>">DELETE</span>
           </li>
         <% end %>
       </ul>
    </li>
  <% end %>
</ol>
